html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'BanderaPro';
    src: url("../fonts/bandera-pro/BanderaPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BanderaPro';
    src: url("../fonts/bandera-pro/BanderaPro-Italic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BanderaPro';
    src: url("../fonts/bandera-pro/BanderaPro-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'BanderaPro';
    src: url("../fonts/bandera-pro/BanderaProMedium.otf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background.png");
    background-size: contain;
    background-color: #FFFDFB;
    font-family: BanderaPro, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

.siteWrapper {
    max-width: 1320px;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    font-size: 40px;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    font-weight: lighter;
}

img {
    width: 100%;
    height: auto;
}

.btn-greenHover a,
.button-donation span,
.contacts-btn input {
    text-decoration: none;
    color: #000300;
    border: 1px solid #000300;
    padding: 8px 43px;
    border-radius: 50px;
    font-size: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.btn-greenHover a:hover,
.contacts-btn input:hover {
    background-color: #459799;
    color: #FFFDFB;
    border: 1px solid #459799;
}

.donat-header {
    border: unset !important;
}

.donat-header span:after {
    content: none !important;
}

.button-donation span.donat-header {
    font-weight: bolder;
    border: 1px solid transparent !important;
}

.button-donation span.donat-header:hover {
    content: none !important;
    color: #000300 !important;
    border: 1px solid #459799 !important;
}

.button-donation span.donat-header:hover {
    bottom: unset !important;
}

.btn-greenHover a:hover:after,
.contacts-btn input:hover:after,
.span.donat-header:hover:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    bottom: -5px;
    right: 0;
    border-radius: 50px;
    border: 1px solid #000300;
    background-color: #FFFDFB;
    z-index: -1;
}

.btn-greenHover a:hover:after,
.button-donation:hover:after,
.button-donation span:after {
    border: 1px solid #459799;
}

.btn-green-main {
    text-align: center;
}

.btn-green-main a {
    padding: 15px 25px 17px;
    border-radius: 30px;
    font-size: 20px;
}

.btn-green-main a:after {
    top: 7px;
    bottom: -7px;
}

.button-donation {
    cursor: pointer;
    text-align: center;
}

.podcastCart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000300;
    border-radius: 10px;
    margin: 23px;
    position: relative;
    background-color: #FFFDFB;
    color: #000300;
    text-decoration: none;
    width: 263px;
    height: 318px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.podcastCart img {
    border-radius: 10px 10px 0 0;
    height: 100%;
}

.podcastCart:after {
    content: "";
    position: absolute;
    top: -11px;
    left: 10px;
    bottom: 10px;
    right: -11px;
    border: 1px solid #000300;
    background-color: #FFFDFB;
    border-radius: 10px;
    z-index: -1;
    transition: background-color 0.2s linear;
}

.podcastCart:hover:after {
    background-color: #000300;
}

.podcastCart p {
    text-transform: uppercase;
    padding: 10px;
    border-top: 1px solid #000300;
}

.header-mainText h1 {
    font-size: 36px;
    margin-top: 116px;
    margin-bottom: 21px;
}

.header-mainText ul li,
.header-mainText p {
    font-size: 14px;
    line-height: 1.6;
}

.header-mainText ul {
    padding-bottom: 65px;
}

.header-mainText p {
    max-width: 720px;
}

/*поки приховав до реалізації фільтру*/
.header-mainText p:last-child {
    padding-bottom: 65px;
}

/*.events .header-mainText p:last-child {*/
/*    padding-bottom: 65px;*/
/*}*/
.label {
    position: absolute;
    background-color: #459799;
    padding: 50px 35px 10px;
    color: #FFFDFB;
    letter-spacing: 1.5px;
    border-radius: 30px;
    font-size: 20px;
    top: -45px;
    right: -27px;
}

.label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    bottom: -5px;
    right: 0;
    border-radius: 30px;
    border: 1px solid #459799;
}

.divider {
    border-top: 1px solid #000300;
}

.preLoader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../img/preloader_bg.png") center no-repeat #FFFDFB;
}

.headerWrapper {
    border-bottom: 1px solid #000300;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #FFFDFB;
    z-index: 7;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-navigation li {
    margin: 10px 0;
}

.header-navigation .donat-header {
    top: 10px;
}

.header-navigation a,
.mobileNavigation a {
    padding: 0 20px;
    font-size: 19px;
    text-decoration: none;
    color: #000300;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.header-navigation a:hover,
.mobileNavigation .menu:hover,
.mobileNavigation li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-navigation .current_page_item {
    color: #459799;
    font-weight: bold;
}

.mobileNavigation {
    display: none;
    justify-content: center;
}

.mobileNavigation li a,
.mobileNavigation .menu,
.mobileNavigation .donat-header {
    padding: 0 10px;
    font-size: 17px;
}


.mobileMenu {
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100vw;
    right: -100vw;
    z-index: 999;
    background: url('../img/mobile_menu_bg.png') center #000300;
    padding: 20px;
    transition: all 0.3s linear;
}

.mobileMenuShow {
    opacity: 1;
    left: 0;
    right: 0;
}

.mobileMenu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileMenu_header img {
    max-width: 120px;
}

.mobileMenu_header .closeMenuBtn {
    cursor: pointer;
    color: #FFFDFB;
    font-size: 20px;
    border: 1px solid #FFFDFB;
    border-radius: 30px;
    padding: 5px 20px 4px;
}

.mobileMenu .mobileMenu-menu {
    padding: 70px 40px;
}

.mobileMenu .mobileMenu-menu li {
    margin-bottom: 24px;
}

.mobileMenu .mobileMenu-menu li,
.mobileMenu .mobileMenu-menu li a {
    color: #FFFDFB;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 21px;
    cursor: pointer;
}

.mobileMenu .divider {
    border-color: #FFFDFB;
    margin: 0 -20px;
}

.mobileMenu-contacts {
    word-break: break-word;
    margin: 50px 28px !important;
    text-align: center;
}

.mobileMenu-contacts ul li {
    margin-top: 20px;
}

.mobileMenu-contacts ul li a {
    font-size: 17px !important;
    color: #FFFDFB;
    text-decoration: none;
}

.mainPlayer {
    min-height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/player_bg.gif") no-repeat center;
}

.mainPlayer-container {
    margin: 20px 5px;
}

.mainPlayer-container .jp-audio-stream {
    display: flex;
    flex: 1;
    width: 470px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000300;
    padding: 35px 50px;
    border-radius: 150px;
    background-color: #FFFDFB;
    transition: background-color 0.3s linear;
    position: relative;
}

.mainPlayer-container .jp-audio-stream:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    bottom: -12px;
    right: 0;
    border-radius: 150px;
    border: 2px solid #000300;
    z-index: -1;
}

.mainPlayer-container .jp-audio-stream .play {
    display: block;
    position: relative;
    width: 100px;
    cursor: pointer;
}

.mainPlayer-container .jp-audio-stream .play:after {
    content: '';
    position: absolute;
    top: -30px;
    border: 30px solid transparent;
    border-left: 55px solid #000300;
}

.mainPlayer-container .jp-audio-stream:hover {
    background-color: #459799;
    border-color: #459799;
}

.mainPlayer-container .jp-audio-stream:hover .info {
    color: #FFFDFB;
}

.mainPlayer-container .jp-audio-stream:hover:after {
    border-color: #459799;
}

.mainPlayer-container .jp-audio-stream:hover .play:after {
    border-left-color: #FFFDFB;
}

.mainPlayer-container_info {
    font-size: 20px;
    font-weight: bold;
    color: #000300;
}

.mainPlayer-container_info .js-singer,
.mainPlayer-container_info .js-song {
    transition: color 0.2s linear;
    padding-bottom: 5px;
}

.mainPlayer-container_info .now {
    transition: color 0.2s linear;
    font-size: 15px;
    margin-top: 5px;
}

.mainPlayer-container:hover .js-singer,
.mainPlayer-container:hover .js-song,
.mainPlayer-container:hover .now {
    color: #FFFDFB;
}

.mostPopular {
    text-align: center;
    padding: 130px 10px;
}

.mostPopular h2 {
    margin-bottom: 86px;
    font-size: 36px;
    font-weight: 400;
}

.mostPopular-podcasts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mostPopular-btn {
    margin-top: 84px;
}

.aboutUSR {
    border: 1px solid #000300;
    position: relative;
    border-radius: 10px;
    background-color: #FFFDFB;
    margin: 0 0 140px 20px;
    padding: 87px 43px;
    left: -20px;
}

.aboutUSR:after {
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;
    bottom: 20px;
    right: -20px;
    border: 1px solid #000300;
    background-color: #FFFDFB;
    border-radius: 10px;
    z-index: -1;
}

.aboutUSR-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutUSR-header_text {
    flex: 1 1 450px;
    padding: 0 10px;
}

.aboutUSR-header_text h2 {
    padding-top: 55px;
    font-size: 36px;
}

.aboutUSR-header_text p {
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.6;
}

.aboutUSR-header_img {
    flex: 1 1 450px;
}

.aboutUSR-header_img img {
    border-radius: 10px;
}

.aboutUSR-mainText {
    max-width: 700px;
    margin: 115px auto 50px;
    text-align: center;
}

.aboutUSR-mainText p {
    padding-bottom: 23px;
    font-size: 14px;
    line-height: 1.6;
}

.rotateCart {
    height: 324px;
}

.rotateCart:hover .cartContainer {
    transform: rotateY(180deg);
}

.rotateCart .cartContainer {
    transform-style: preserve-3d;
    transition: 0.5s;
}

.rotateCart .cartContainer .side {
    position: absolute;
    -webkit-backface-visibility: hidden;
    width: 100%;
}

.rotateCart .cartContainer .back {
    transform: rotateY(180deg);
    overflow: hidden;
    border-radius: 10px;
}

.rotateCart .cartContainer .back h2 {
    margin: 30px 25px 0;
}

.rotateCart .cartContainer .back p {
    text-transform: unset;
    padding: 25px;
}

.bottomDescription {
    max-width: 700px;
    margin: 70px auto;
}

.bottomDescription p {
    padding: 10px;
    text-align: center;
    line-height: 1.6;
    font-size: 14px;
}

.bottomBtn {
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
}

.bottomBtn a {
    padding: 20px 50px;
}

.playerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/backgroundPlayer.gif") no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 0;
    height: calc(100vh - 62px);
    overflow: hidden;
}

.playerPage-header {
    background-color: #000300;
    background-image: url("../img/backgroundHeader.png");
}

.playerPage-container {
    margin: 20px 5px;
}

.playerPage-container .jp-audio-stream {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 575px;
    border: 2px solid #000300;
    padding: 35px 50px;
    border-radius: 150px;
    background-color: #FFFDFB;
    transition: background-color 0.3s linear;
    position: relative;
}

.playerPage-container .jp-audio-stream:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    bottom: -12px;
    right: 0;
    border-radius: 150px;
    border: 2px solid #000300;
    z-index: -1;
}

.playerPage-container .jp-audio-stream .play {
    position: relative;
    width: 100px;
    cursor: pointer;
}

.playerPage-container .jp-audio-stream .play:after {
    content: '';
    position: absolute;
    top: -30px;
    border: 30px solid transparent;
    border-left: 55px solid #000300;
}

.playerPage-container .jp-audio-stream .pause {
    display: none;
}

.playerPage-container .jp-state-playing {
    background-color: #459799;
    border: 2px solid #459799;
}

.playerPage-container .jp-state-playing:after {
    border: 2px solid #459799;
}

.playerPage-container .jp-state-playing .play:after {
    content: none;
}

.playerPage-container .jp-state-playing .pause {
    display: inline-block;
    height: 55px;
    width: 15px;
    background-color: #FFFDFB;
    position: relative;
    cursor: pointer;
}

.playerPage-container .jp-state-playing .pause:after {
    content: '';
    position: absolute;
    left: 25px;
    height: 100%;
    width: 15px;
    background-color: #FFFDFB;
}

.playerPage-container .jp-state-playing .activeInfo {
    color: #FFFDFB;
}

.playerPage-container_info {
    font-size: 20px;
    font-weight: bold;
    color: #000300;
    margin: 0 20px;
}

.playerPage-container_info .js-singer,
.playerPage-container_info .js-song {
    padding-bottom: 5px;
}

.playerPage-container_info .now {
    font-size: 15px;
    margin-top: 5px;
}

.podcasts-divider {
    border-bottom: 1px solid #000300;
}

.podcasts-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.podcasts-filter_years {
    display: flex;
    align-items: flex-end;
    max-width: 600px;
    width: 100%;
}

.podcasts-filter_years li {
    margin: 10px;
    text-decoration: none;
    color: #459799;
    font-size: 17px;
    text-align: center;
}

.podcasts-filter_years li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.podcasts-filter_years .activeYear {
    font-size: 27px;
    color: #000300;
}

.podcasts-filter_years .slick-track {
    display: flex;
    align-items: center;
}

.podcasts-filter_years .slick-slide {
    width: 67px !important;
}

.podcasts-filter_years .slick-dots li button:before {
    font-size: 9px;
    color: #000300;
    opacity: 1;
}

.podcasts-filter_years .slick-dots li.slick-active button:before {
    color: #459799 !important;
    font-size: 12px;
}

.podcasts-filter_years.slick-dotted.slick-slider {
    margin: 20px 0 14px;
}

.podcasts-filter .podcasts-search {
    margin: 25px 0 23px;
}

.filterFixed {
    background-color: #000300;
    border-radius: 0 0 30px 30px;
    position: fixed;
    top: 79px;
    width: 100%;
    z-index: 5;
}

.filterFixed .siteWrapper {
    padding: 0 0 5px;
}

.filterFixed .podcasts-filter_years .activeYear,
.filterFixed .podcasts-filter_years .slick-dots li button:before {
    color: #FFFDFB;
}

.filterFixed .podcasts-search input[type='submit'] {
    border: 1px solid #FFFDFB;
}

.filterFixed .podcasts-search input[type='submit']:hover {
    background-color: #FFFDFB;
    color: #000300;
}

.podcastsSeasons {
    margin-top: 113px !important;
}


.podcasts-search input[type='text'] {
    font-size: 20px;
    height: 35px;
    border: 1px solid #000300;
    border-radius: 50px;
    outline: none;
    padding: 10px 20px;
    background-color: #FFFDFB;
}

.podcasts-search input[type='submit'] {
    font-family: BanderaPro, sans-serif;
    text-decoration: none;
    color: #FFFDFB;
    border: 1px solid #000300;
    padding: 5px 35px;
    border-radius: 50px;
    font-size: 20px;
    background-color: #000300;
    cursor: pointer;
    margin-right: 50px;
}

.podcasts-seasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px 0;
}

.singlePodcast-filter h2 {
    text-transform: uppercase;
}

.singlePodcast-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 100px 0;
}

.singlePodcast-descriptions {
    padding-bottom: 100px;
}

.singlePodcast-descriptions_text {
    max-width: 700px;
    margin: 0 auto 50px;
    text-align: center;
}

.singlePodcast-descriptions_text p {
    padding-bottom: 20px;
}

.episode .slick-prev,
.episode .slick-next {
    top: 10%;
}

.episode .slick-prev:hover:before,
.episode .slick-prev:hover:after,
.episode .slick-next:hover:before,
.episode .slick-next:hover:after {
    background-color: #459799;
    color: #FFFDFB;
    border-color: #459799;
}

.episode .slick-prev {
    left: -80px;
}

.episode .slick-prev:before,
.episode .slick-next:before {
    color: #000300;
    border: 1px solid #000300;
    border-radius: 20px;
}

.episode .slick-prev:before {
    padding: 10px 5px 9px 50px;
}

.episode .slick-next:before {
    padding: 10px 50px 9px 5px;
}

.episode-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto;
}

.episode-slider_description {
    max-width: 450px;
    margin: 50px auto 0;
}

.episode-slider_description {
    font-size: 14px;
    line-height: 1.6;
}

.episode-slider_description h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 36px;
}

.episode-slider_podcastsBtn {
    max-width: 287px;
    margin-top: 50px;
    font-size: 20px;
}

.episode-slider_podcastsBtn p {
    font-weight: 600;
}

.episode-slider_podcastsBtn.podcastBtn {
    display: none;
}

.episode-slider_podcastsBtn .google,
.episode-slider_podcastsBtn .apple {
    margin-top: 15px;
    width: 60px;
    height: 60px;
}

.episode-slider_podcastsBtn .google {
    display: inline-block;
    background: url('../img/podcasts_img/google_black.png') no-repeat center;
}

.episode-slider_podcastsBtn .apple {
    display: inline-block;
    background: url('../img/podcasts_img/apple_black.png') no-repeat center;
}

.episode-slider_podcastsBtn .google:hover {
    background: url('../img/podcasts_img/google_color.png') no-repeat center;
}

.episode-slider_podcastsBtn .apple:hover {
    background: url('../img/podcasts_img/apple_color.png') no-repeat center;
}

.episode-slider_img {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 10px;
}

.episode-slider_img .episodeCart {
    margin: 0;
    padding: 0;
    width: unset;
    border: none;
}

.episode-slider_img .episodeCart img {
    border-radius: 10px;
    border: 1px solid #000300;
}

.episode-items h2 {
    margin: 20px 100px;
    font-size: 36px;
}

.episode-items_item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: all 0.3s linear;
    text-decoration: none;
    background-color: #FFFDFB;
    color: #000300;
    margin: 50px auto;
}

.episode-items_item:hover {
    border: 1px solid #000300;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.episode-items_item .img {
    margin: 50px;
    width: 220px;
}
.episode-items_item .img h3 {
    display: none;
}
.episode-items_item .img img {
    border: 2px solid #000300;
    border-radius: 10px;
}

.episode-items_item h3 {
    font-size: 36px;
    letter-spacing: 3px;
    font-weight: lighter;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.episode-items_item .descriptions {
    margin: 50px;
}

.episode-items_item .descriptions p {
    font-size: 17px;
    line-height: 1.5;
}

.episode-partners {
    margin: 100px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.episode-partners_partner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 0 50px;
    width: 263px;
    height: 324px;
    position: relative;
    overflow: hidden;
    border: 1px solid #000300;
}

.episode-description {
    max-width: 700px;
    margin: 0 auto 84px;
    text-align: center;
}

.episode-description p {
    padding-bottom: 20px;
}

audio {
    width: 100%;
    margin: 30px auto 0;
}

.episode-items_item .showContent,
.episode-items_item.audioShow .text-description,
.episode-items_item .episode-mobile h3 {
    display: none;
}

.episode-items_item.audioShow .showContent {
    display: block;
}

.about-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7vw 0;
}

.about-header_mainText {
    margin-top: 50px;
}

.about-header_mainText h1 {
    margin-top: 50px;
}

.about-header img {
    max-width: 550px;
    max-height: 550px;
    border-radius: 10px;
}

.about-values {
    margin: 120px 0;
}

.about-values_item {
    display: flex;
    margin: 30px 10px;
}

.about-values_item .img {
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
}

.about-values_item .description {
    margin: 20px 50px;
}

.about-values_item .description-title {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.about-values_item .description p {
    line-height: 1.5;
}

.about-ourTeam {
    margin: 67px 0;
}

.about-ourTeam .podcastCart img,
.about-supervisory .podcastCart img,
.authors .podcastCart img {
    border-radius: 10px;
    border-bottom: none;
}

.about-ourTeam .podcastCart p,
.about-supervisory .podcastCart p,
.authors .podcastCart p {
    border-top: none;
}

.about-ourTeam_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px 0;
}

.about-ourTeam_title {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
}

.about-supervisory_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px 0;
}

.about-supervisory_items .about-cart:after {
    content: none;
}

.about-supervisory_text {
    text-align: center;
    margin-bottom: 70px;
    word-break: break-all;
}

.about-supervisory_text h1 {
    margin-bottom: 50px;
}

.about-supervisory .contacts a {
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    color: #000300;
    padding: 10px 0;
}

.events {
    margin-bottom: 150px;
}

.events-items_item {
    padding: unset;
}

.events-items_item a {
    text-decoration: none;
    color: #000300;
}

.events-items_item img {
    border-radius: 10px 10px 0 0;
    max-height: 700px;
}

.events-items_item .text {
    margin: 50px;
}

.events-items_item .text h2 {
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.events-items_item .text p,
.events-items_item .text span {
    line-height: 1.5;
    font-size: 14px;
}

.events-bottomDescription {
    margin-top: 130px;
}

.single-event .header-mainText ul {
    padding: 0;
}

.partners-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners-items_partner {
    width: 183px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.partners-items_partner .img {
    width: 183px;
    height: 183px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
}

.partners-btn {
    text-align: center;
    margin-top: 15px;
}

.partners-btn a {
    font-size: 15px;
    background-color: #000300;
    color: #FFFDFB;
}

.partners-description {
    max-width: 700px;
    margin: 70px auto;
}

.partners-description p {
    padding: 10px;
    text-align: center;
    line-height: 1.2;
}

.partners-btn-green {
    text-align: center;
    margin-bottom: 100px;
}

.authors-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.authors .authors-cart a {
    text-decoration: none;
    color: #000300;
    height: 100%;
}

.partner .header-mainText p:last-child {
    padding-bottom: 10px;
}

.contacts-header {
    margin: 7vw 0 3vw;
}

.contacts-header_mainText {
    margin-top: 50px;
}

.contacts-header_mainText h1 {
    margin-top: 50px;
}

.contacts-values {
    margin: 30px 0;
}

.contacts-values_item {
    display: flex;
    margin: 30px 0;
}

.contacts-values_item .description h2 {
    font-size: 36px;
}

.contacts-values_item .img {
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    border: 1px solid #000300;
    border-radius: 10px;
}

.contacts-values_item .description {
    margin: 20px 50px;
}

.contacts-values_item .description-title {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.contacts-values_item .description-phone,
.contacts-values_item .description-email,
.contacts-values_item .description-address {
    margin: 20px;
    word-break: break-all;
}

.contacts-values_item .description-phone a,
.contacts-values_item .description-email a,
.contacts-values_item .description-address {
    text-decoration: none;
    color: #000300;
    font-size: 18px;
}

.contacts-values_item .description p {
    line-height: 1.5;
}

.contacts-form {
    margin-top: 100px;
    text-align: center;
    padding-top: 60px;
}

.contacts-form h2 {
    padding-bottom: 27px;
    font-size: 36px;
}

.contacts-form input,
.contacts-form select,
.contacts-form textarea {
    display: block;
    margin: 30px auto;
    max-width: 650px;
    width: 100%;
    padding: 20px 30px;
    border: 1px solid #000300;
    font-family: BanderaPro, sans-serif;
    border-radius: 52px;
    outline: none;
    font-size: 18px;
    background-color: #FFFDFB;
}

.contacts-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contacts-form textarea::-moz-placeholder {
    font-size: 20px;
}

.contacts-form textarea:-ms-input-placeholder {
    font-size: 20px;
}

.contacts-form textarea::placeholder {
    font-size: 20px;
}

.contacts-btn {
    margin-top: 80px;
}

.contacts-btn input {
    background-color: #000;
    color: #FFFDFB;
}

.contacts-btn input:hover {
    bottom: unset;
}

.contacts-btn input {
    padding: 24px 50px;
    max-width: 289px;
}

.partner-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5vw 0;
}

.partner-header_mainText h1 {
    margin-top: 50px;
}

.partner .partner-img {
    max-width: 470px;
    max-height: 470px;
    width: 100%;
    padding: 0;
}

.partner .partner-img img {
    height: 100%;
    border-radius: 10px;
}

.partner-btn {
    margin: 63px 0;
    width: 100%;
    text-align: center;
}

.partner-didTogether_description {
    padding-left: 30px;
}

.partner-didTogether_description h2 {
    font-weight: normal;
    padding-bottom: 37px;
    font-size: 36px;
}

.partner-didTogether_podcasts {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.partner-bottomBtn {
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
}

.new-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5vw 0 50px;
}

.new-header_mainText {
    padding-right: 40px;
}

.new-header_mainText h1 {
    margin-top: 50px;
    text-transform: uppercase;
}

.new-img {
    max-width: 470px;
    max-height: 470px;
    margin: 0;
    padding: 0;
    left: 0;
}

.new-img img {
    height: 100%;
    border-radius: 10px;
}

.new-photos {
    max-width: 1045px;
    margin: 60px auto;
}

.new-photos h2 {
    font-size: 36px;
    margin-bottom: 70px;
}

.new-slider_item {
    margin: 20px;
    padding: 0;
    left: 0;
}

.new-slider_img img {
    border-radius: 10px 10px 0 0;
    max-height: 560px;
}

.new-slider-text {
    padding: 26px 50px;
    font-size: 14px;
}

.new .slick-prev,
.new .slick-next {
    top: 47%;
}

.new .slick-prev:hover:before,
.new .slick-prev:hover:after,
.new .slick-next:hover:before,
.new .slick-next:hover:after {
    background-color: #459799;
    color: #FFF;
    border-color: #459799;
}

.new .slick-prev {
    left: -115px;
}

.new .slick-next {
    right: -33px;
}

.new .slick-prev:before,
.new .slick-next:before {
    color: #000300;
    border: 1px solid #000300;
    padding: 15px 40px;
    border-radius: 50px;
}

.new-bottomDescription h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 35px;
}

.new-partners {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-partner-item {
    margin: 60px 25px 0;
}

.pageNotFound,
.pageNotFoundMobile {
    display: flex;
    justify-content: center;
}

.pageNotFoundMobile {
    display: none;
}

.pageNotFound img {
    max-width: 700px;
    padding: 50px 20px;
}

.scrollUp {
    width: 60px;
    cursor: pointer;
    border: 1px solid #000300;
    border-radius: 30px;
    text-align: center;
    padding: 10px 0;
    background-color: #FFFDFB;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
}

.scrollUp span {
    font-size: 23px;
}

.footerWrapper {
    background-color: #000300;
    padding: 30px 0;
}

.footer {
    color: #FFFDFB;
    padding-top: 70px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer .footer-info_item {
    text-align: center;
    margin: 20px;
    width: 190px;
    word-break: break-all;
}

.footer .footer-info_item img {
    max-width: 143px;
}

.footer .footer-info_item div {
    border: 1px solid #FFFDFB;
    border-radius: 30px;
    padding: 10px;
}

.footer .footer-info_item ul {
    margin-top: 35px;
}

.footer .footer-info_item ul li {
    margin-top: 15px;
}

.footer .footer-info_item ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #FFFDFB;
    text-transform: lowercase;
}

.footer-rights {
    text-align: center;
    font-size: 14px;
    padding: 35px 0 15px;
    color: #5F5D5D;
}

.footer-rights .developed a {
    color: #5F5D5D;
}

@media screen and (max-width: 1300px) {
    .new-photos_slider {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1254px) {
    .partner-header,
    .partner-header_mainText {
        margin: 0 0 50px;
    }

    .partner-btn {
        display: none;
    }

    .mobilePartner-btn {
        display: block !important;
    }

    .partner-img {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .scrollUp {
        width: 50px;
        padding: 5px 0;
    }

    .scrollUp span {
        font-size: 20px;
    }
}

@media screen and (max-width: 1210px) {
    .footer .footerLogo {
        max-width: unset;
        width: 100vw;
    }

    .podcasts-filter {
        justify-content: space-around;
    }

    .podcasts-search input[type='submit'] {
        margin-right: 0;
    }

    .new-photos_slider {
        max-width: 800px;
    }
}

@media screen and (max-width: 1099px) {
    .filterFixed {
        top: 118px;
    }

    .new-photos_slider {
        max-width: 700px;
    }
}

@media screen and (max-width: 990px) {
    .filterFixed {
        top: 105px;
    }

    .filterFixed .podcasts-filter_years.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 983px) {
    .siteWrapper {
        padding: 10px;
    }

    .playerPage {
        background-image: url('../img/backgroundPlayerMobile.gif');
    }

    .header nav .header-navigation {
        display: none;
    }

    .header {
        flex-wrap: nowrap;
    }

    .header .header-logo img {
        max-width: 97px;
    }

    .header nav .mobileNavigation {
        display: flex;
    }

    .episode-slider {
        margin: 70px auto;
    }

    .partners .header-mainText p:last-child {
        padding-bottom: 15px;
    }

    .filterFixed {
        top: 40px;
    }

    .filterFixed .podcasts-filter .podcasts-search {
        margin: 10px auto;
    }

    .filterFixed .slick-dots {
        bottom: -17px;
    }

    .new .slick-next:before,
    .new .slick-prev:before {
        background-color: #FFFDFB;
        opacity: 1;
    }

    .new .slick-next {
        right: 36px;
    }

    .new .slick-next:before {
        border-radius: 50px 0 0 50px;
        padding: 6px 4px 5px 10px;
    }

    .new .slick-prev:before {
        border-radius: 0 50px 50px 0;
        padding: 6px 9px 4px 4px;
    }

    .new .slick-prev {
        left: 20px;
        z-index: 1;
    }

    .new .slick-prev:hover:before,
    .new .slick-next:hover:before {
        border-color: #000300;
        background-color: #FFFDFB;
        color: #000300;
    }
    .podcastCart {
        margin: 20px 15px;
    }
}

@media screen and (max-width: 934px) {
    .episode-slider {
        margin: 40px auto;
    }

    .episode-slider_podcastsBtn {
        display: none;
    }

    .episode-slider_podcastsBtn.podcastBtn {
        display: block;
        margin: 10px auto 50px;
        text-align: center;

    }

    .episode-slider_img {
        margin-top: 50px;
    }

    .events {
        margin-bottom: 50px;
    }

    .events-items_item {
        margin-bottom: 70px;
        padding: 0 !important;
    }

    .events-bottomDescription {
        margin-top: 50px;
    }

    .contacts-values_item {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: unset;
    }

    .contacts-values_item .img {
        width: 105px;
        height: 105px;
    }

    .contacts-values_item .description {
        width: 100vw;
        margin: 20px 0;
    }

    .contacts-values_item .description-phone a,
    .contacts-values_item .description-email a,
    .contacts-values_item .description-address {
        font-size: 25px;
    }

    .contacts .header-mainText p:last-child {
        padding-bottom: 50px;
    }
    .podcastCart {
        width: 236px;
        height: 281px;
    }
    .episode-items_item {
        flex-wrap: wrap;
    }

    .episode-items_item .descriptions h3 {
        display: none;
    }
    .episode-items_item .episode-mobile h3 {
        display: block;
        max-width: 290px;
    }
    .episode-items_item .episode-mobile {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        margin-bottom: 20px !important;
        width: 100%;
        justify-content: space-between;
    }
    .episode-items_item .img {
        margin: 35px 35px 15px;
    }

    .episode-items_item .text.showContent {
        margin: 35px;
    }

    .episode-items_item .img img {
        height: 100%;
    }

    .episode-items_item .descriptions {
        margin: 0;
    }

    .episode-items_item h3 {
        font-size: 25px;
        margin-left: 35px;
    }

    .episode-items_item .descriptions .text-description {
        display: none;
    }

    .episode-items_item.audioShow {
        flex-wrap: wrap !important;
    }

}

@media screen and (max-width: 700px) {
    .podcastCart {
        width: 193px;
        height: 248px;
    }
}

@media screen and (max-width: 630px) {
    h1 {
        font-size: 25px !important;
    }

    h2 {
        font-size: 20px !important;
        font-weight: 600
    }

    h3 {
        font-size: 20px !important;
    }

    .mainPlayer {
        background: url("../img/player_bg_mobile.gif") no-repeat center;
        min-height: 930px;
    }

    .pageNotFound {
        display: none;
    }

    .pageNotFoundMobile {
        display: flex;
        margin: 100px 0;
    }

    .pageNotFoundMobile img {
        width: 200px;
    }

    .mostPopular {
        padding: 50px 10px 100px;
    }

    .mostPopular h2 {
        margin-bottom: 40px;
    }

    .podcastCart p {
        font-size: 14px;
    }

    .mostPopular-btn {
        margin-top: 30px;
    }

    .btn-greenHover a, .button-donation span,
    .aboutUSR p {
        font-size: 12px;
    }

    .btn-greenHover a,
    .aboutUSR p {
        line-height: 1.6;
    }

    .aboutUSR:not(.new-slider_item, .new-img) {
        padding: 0 15px 40px;
    }

    .aboutUSR-header_img {
        padding: 20px;
    }

    .aboutUSR-mainText {
        margin: unset;
    }

    .header-mainText h1 {
        margin-top: 40px;
    }

    .header-mainText p,
    .singlePodcast-descriptions_text p {
        font-size: 14px;
    }

    .about-header_mainText {
        margin-top: unset;
    }

    .about .podcastCart,
    .authors .authors-cart {
        width: 235px;
        height: 289px;
    }

    .about-supervisory_items {
        margin: 10px 0 50px;
    }

    .events-items_item .text {
        margin: 20px;
    }

    .events-items_item .text p,
    .events-items_item .text span {
        font-size: 15px;
    }

    .partner-img {
        padding: 87px 43px;
    }

    .authors .header-mainText p:last-child {
        padding-bottom: 40px;
    }

    .authors .bottomDescription {
        margin: 40px auto 70px;
    }

    .contacts-values_item .description h2 {
        font-size: 25px !important;
    }

    .contacts-values_item .description-phone a,
    .contacts-values_item .description-email a,
    .contacts-values_item .description-address {
        font-size: 20px;
    }

    .contacts .aboutUSR {
        border: none;
        background-color: transparent;
        padding: 0 !important;
        position: unset;
        margin: 100px 0;
    }

    .contacts .aboutUSR:after {
        content: none;
    }

    .episode-items_item {
        margin: 27px auto;
    }

    .episode-items_item .descriptions:not(.episode-items_item.audioShow .descriptions) {
        max-width: 200px;
    }

    .episode-items_item .descriptions p {
        font-size: 12px;
    }

    .episode-items h2 {
        margin: 20px;
    }
    .episode-items_item .episode-mobile h3 {
        max-width: 190px;
    }
}

@media screen and (max-width: 560px) {
    .about .podcastCart,
    .authors .podcastCart {
        width: 100% !important;
        height: 100%;
    }

    .about .rotateCart .cartContainer,
    .authors .rotateCart .cartContainer {
        transform-style: unset;
        transition: unset;
        display: flex;
    }

    .about .rotateCart .cartContainer .side,
    .authors .rotateCart .cartContainer .side {
        position: static;
        -webkit-backface-visibility: visible;
        width: 50%;
    }

    .about .rotateCart .cartContainer .side img,
    .authors .rotateCart .cartContainer .side img {
        height: 100%;
    }

    .about .rotateCart .cartContainer .back,
    .authors .rotateCart .cartContainer .back {
        transform: unset;
        overflow: visible;
        border-radius: 10px;
    }

    .about .rotateCart .cartContainer .back p,
    .authors .rotateCart .cartContainer .back p {
        font-size: 15px;
    }

    .about .rotateCart:hover .cartContainer,
    .authors .rotateCart:hover .cartContainer {
        transform: unset;
    }
    .episode-items_item h3 {
        font-size: 17px !important;
    }
    .episode-items_item .episode-mobile h3 {
        max-width: 164px;
    }
}

@media screen and (max-width: 550px) {
    h2 {
        font-weight: 600;
    }

    audio {
        margin: 30px auto 20px;
    }

    .mainPlayer-container .jp-audio-stream,
    .playerPage-container .jp-audio-stream {
        width: unset;
        max-width: 440px;
    }

    .podcastCart {
        width: 180px;
        height: 220px;
    }

    .podcastCart p {
        font-size: 12px;
    }

    .about-values_item {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .about-values {
        margin: 75px 0 85px;
    }

    .about-supervisory .contacts a {
        font-size: 20px;
    }


    .episode-items_item .descriptions p {
        font-size: 12px;
    }


    .partners-items_partner {
        width: 160px;
        height: auto;
        margin: 10px;
        justify-content: space-evenly;
    }

    .partners-items_partner .img img {
        max-width: 160px;
    }

    .partners-btn a {
        font-size: 14px;
        padding: 5px 15px 7px;
    }

    .footer .footer-info_item {
        width: 145px;
    }

    .footer .footerLogo {
        max-width: unset;
        width: 100vw;
    }

    .footer .footer-info_item div {
        font-size: 14px;
    }

    .footer .footer-info_item ul li a {
        font-size: 15px;
    }

    .scrollUp {
        width: 40px;
        padding: 3px 0;
    }

    .scrollUp span {
        font-size: 17px;
    }

    .podcasts-filter_years .slick-dots li button:before {
        font-size: 7px;
    }

    .podcasts-filter_years .slick-dots li.slick-active button:before {
        font-size: 10px;
    }

    .podcasts-filter .podcasts-search input[type='text'],
    .podcasts-filter .podcasts-search input[type='submit'] {
        font-size: 17px;
        height: 32px;
        padding: 5px 24px;
    }

    .podcasts-filter .podcasts-search input[type='text'] {
        padding: 10px;
    }

}

@media screen and (max-width: 450px) {
    p:not('podcastCart') {
        font-size: 14px !important;
    }

    .mobileNavigation li a,
    .mobileNavigation .menu,
    .mobileNavigation .donat-header {
        font-size: 14px;
    }

    .mobileNavigation .menu {
        line-height: 1.3;
    }

    .mobileNavigation .button-donation span {
        border: none;
    }

    .mainPlayer-container .jp-audio-stream,
    .playerPage-container .jp-audio-stream {
        padding: 27px 30px;
    }

    .mainPlayer-container_info div,
    .playerPage-container_info div {
        font-size: 12px !important;
    }

    .mainPlayer-container .jp-audio-stream .play:after,
    .playerPage-container .jp-audio-stream .play:after {
        border-width: 25px;
        border-left-width: 45px;
        top: -25px;
    }

    .podcastCart {
        width: 145px;
        height: 188px;
    }

    .podcastCart p {
        font-size: 10px;
    }

    .btn-greenHover a,
    .button-donation span {
        font-size: 15px;
    }

    .episode-items h2 {
        margin: 20px;
    }

    .episode-items_item audio {
        display: none;
    }

    .episode-items_item.audioShow audio {
        display: block !important;
    }

    .episode-items_item.audioShow {
        box-shadow: 1px 5px 15px;
        border: 1px solid #000300;
        border-radius: 10px;
    }

    .episode-items_item h3 {
        font-size: 20px;
    }

    .episode-slider {
        margin: 20px auto;
    }


    .about-values_item .description {
        margin: 20px 0;
    }

    .events-items_item .text {
        margin: 10px;
    }

    .events-items_item .text p,
    .events-items_item .text span {
        font-size: 14px;
    }

    .partners-items_partner {
        width: 130px;
    }

    .partners-items_partner .img img {
        max-width: 130px;
    }

    .partners-btn a {
        font-size: 12px;
        padding: 5px 15px 7px;
    }

    .contacts-form input,
    .contacts-form select,
    .contacts-form textarea::placeholder {
        padding: 15px 20px;
        font-size: 14px !important;
        border-radius: 20px;
    }

    .contacts-form textarea {
        padding: 21px;
    }

    .contacts-form textarea::placeholder {
        padding: 0;
    }

    .footer .footer-info_item {
        margin: 20px 5px;
    }

    .about .rotateCart .cartContainer .back p,
    .authors .rotateCart .cartContainer .back p {
        font-size: 12px;
    }

    .new-slider-text {
        padding: 10px;
    }
    .episode-items_item .img {
        margin: 22px 22px 17px 10px;
    }
    .episode-items_item .episode-mobile h3 {
        margin-bottom: 20px;
        margin-left: 20px;
        max-width: 139px;
    }
    .episode-items_item .episode-mobile {
        margin-bottom: 0 !important;
    }
    .episode-items_item .text.showContent {
        margin: 20px;
    }
}


@media screen and (max-width: 370px) {
    .mobileNavigation li a,
    .mobileNavigation .menu,
    .mobileNavigation .donat-header {
        font-size: 12px;
    }

    .mobileNavigation .menu {
        line-height: 1.5;
    }

    .mainPlayer-container .jp-audio-stream,
    .playerPage-container .jp-audio-stream {
        width: 300px;
    }

    .podcastCart {
        width: 121px;
        height: 172px;
    }

    .podcastCart p {
        font-size: 10px;
    }

    .aboutUSR:not(.new-slider_item, .new-img, .partner-img) {
        padding: 0 5px 40px;
    }

    .btn-greenHover a,
    .button-donation span,
    .aboutUSR p {
        font-size: 14px;
    }

    .mostPopular-btn a {
        padding: 5px 15px 7px;
    }

    .header-mainText p,
    .singlePodcast-descriptions_text p,
    .bottomDescription p {
        font-size: 14px;
    }

    .partners-items_partner {
        width: 120px;
    }

    .partners-btn a {
        font-size: 10px;
        padding: 5px 10px 7px;
    }

    .partner-img {
        padding: 50px 40px;
    }

    .contacts-values_item .description h2 {
        font-size: 20px !important;
    }

    .contacts-values_item .description-phone a,
    .contacts-values_item .description-email a,
    .contacts-values_item .description-address {
        font-size: 18px;
    }

    .footer .footer-info_item div {
        font-size: 12px;
    }

    .footer .footer-info_item ul li a {
        font-size: 12px;
    }

    .footer .footer-info_item {
        width: 120px;
    }

    .footer .footerLogo {
        max-width: unset;
        width: 100vw;
    }

    .podcastCart {
        margin: 20px 14px;
    }

    .about .rotateCart .cartContainer .back h2,
    .authors .rotateCart .cartContainer .back h2 {
        margin: 10px;
    }

    .about .rotateCart .cartContainer .back p,
    .authors .rotateCart .cartContainer .back p {
        padding: 10px;
    }

    .podcasts-filter .podcasts-search input[type='text'],
    .podcasts-filter .podcasts-search input[type='submit'] {
        font-size: 14px;
        height: 32px;
        padding: 5px 15px;
    }

    .podcasts-filter .podcasts-search input[type='text'] {
        padding: 10px;
    }
    .episode-items_item h3 {
        font-size: 12px !important;
    }
    .episode-items_item .episode-mobile h3 {
        max-width: 120px;
    }
}

@media screen and (max-width: 340px) {
    .filterFixed {
        top: 30px;
    }
    .episode-items_item h3 {
        font-size: 10px !important;
    }
    .episode-items_item .img {
        width: 103px;
        height: 103px;
    }
}


